* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  text-decoration: none;
  color: #e7e7e7
}

.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333333;
}

.nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar .brand {
  display: block;
  color: #e7e7e7;
  padding: 0 24px;
  font-size: 24px;
}

.nav li a {
  padding: 24px;
  display: block;
}

.nav a:hover,
.nav a:focus,
.nav .active {
  background-color: #272727;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 12px;
  width: 200px;
  height: 200px;
  margin: 20px;
  cursor: grab;
}
